<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FastAPI and Jinja2</title>
    <link href="{{ url_for('static', path='style.css') }}"
     rel="stylesheet">
</head>
<body>
    <h1>Jinja2 Content</h1>
    {% block content %} {% endblock %}
    <hr>
</body>
</html>